# C++
*/src/*.o
*/src/*.out

# VS Code
.vscode

# ViM
*.swp
compile_commands.json
*.vim

# Jupyter
.ipynb_checkpoints

# Binaries
*/bin

# LaTeX
tex/*.aux
tex/*.toc
tex/*.log
tex/*.out
tex/*.txt
tex/*.pdf

# Bundle
*.tar.gz
